In [1]:
install.packages(c('RSQLite'), repos = 'http://cran.rstudio.com',dependecies=TRUE)

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [1]:
library("RSQLite")

In [2]:
conn <- dbConnect(RSQLite::SQLite(), "Lab4.sqlite")

In [4]:
df2 <- dbExecute(conn, "CREATE TABLE FARM_PRICES(
CD_ID INTEGER NOT NULL,
DATE DATE NOT NULL,
CROP_TYPE VARCHAR(20) NOT NULL,
GEO VARCHAR(20) NOT NULL,
PRICE_PRERMT INTGER NOT NULL,
PRIMARY KEY(CD_ID))",
errors=FALSE)

In [5]:
df4 <- dbExecute(conn, "CREATE TABLE MONTLY_FX(
DFX_ID INTEGER NOT NULL,
DATE DATE NOT NULL,
FXUSDCAD FLOAT(6),
PRIMARY KEY(DFX_ID))",
errors=FALSE)

In [6]:
farm_df <- read.csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv')
monthly_df <- read.csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv')

In [8]:
head(farm_df)
head(monthly_df)

  CD_ID DATE       CROP_TYPE GEO          PRICE_PRERMT
1 0     1985-01-01 Barley    Alberta      127.39
2 1     1985-01-01 Barley    Saskatchewan 121.38
3 2     1985-01-01 Canola    Alberta      342.00
4 3     1985-01-01 Canola    Saskatchewan 339.82
5 4     1985-01-01 Rye       Alberta      100.77
6 5     1985-01-01 Rye       Saskatchewan 109.75

  DFX_ID DATE       FXUSDCAD
1 0      2017-01-01 1.319276
2 1      2017-02-01 1.310726
3 2      2017-03-01 1.338643
4 3      2017-04-01 1.344021
5 4      2017-05-01 1.360705
6 5      2017-06-01 1.329805

In [11]:
dbWriteTable(conn, "FARM_PRICES", farm_df, overwrite=TRUE, header = TRUE)
dbWriteTable(conn, "MONTHLY_FX", monthly_df, overwrite=TRUE, header = TRUE)

In [12]:
dbListTables(conn)

[1] "CROP_DATA"   "DAILY_FX"    "FARM_PRICES" "MONTHLY_FX"  "MONTLY_FX"

In [66]:
dbGetQuery(conn, 'SELECT * FROM CROP_DATA')

    CD_ID YEAR       CROP_TYPE GEO          SEEDED_AREA HARVESTED_AREA
1    0    1965-12-31 Barley    Alberta       1372000     1372000
2    1    1965-12-31 Barley    Canada        2476800     2476800
3    2    1965-12-31 Barley    Saskatchewan   708000      708000
4    3    1965-12-31 Canola    Alberta        297400      297400
5    4    1965-12-31 Canola    Canada         580700      580700
6    5    1965-12-31 Canola    Saskatchewan   224600      224600
7    6    1965-12-31 Rye       Alberta         81000       81000
8    7    1965-12-31 Rye       Canada         323900      323900
9    8    1965-12-31 Rye       Saskatchewan   166000      166000
10   9    1965-12-31 Wheat     Alberta       2448000     2448000
11  10    1965-12-31 Wheat     Canada       11451650    11451650
12  11    1965-12-31 Wheat     Saskatchewan  7486000     7486000
13  12    1966-12-31 Barley    Alberta       1570000     1570000
14  13    1966-12-31 Barley    Canada        3019600     3019600
15  14    1966-12-31 Barley    Saskatchewan   913000      913000
16  15    1966-12-31 Canola    Alberta        252500      252500
17  16    1966-12-31 Canola    Canada         617100      617100
18  17    1966-12-31 Canola    Saskatchewan   295800      295800
19  18    1966-12-31 Rye       Alberta         70000       70000
20  19    1966-12-31 Rye       Canada         293400      293400
21  20    1966-12-31 Rye       Saskatchewan   161000      161000
22  21    1966-12-31 Wheat     Alberta       2633000     2633000
23  22    1966-12-31 Wheat     Canada       12016000    12016000
24  23    1966-12-31 Wheat     Saskatchewan  7853000     7853000
25  24    1967-12-31 Barley    Alberta       1732000     1732000
26  25    1967-12-31 Barley    Canada        3286850     3286850
27  26    1967-12-31 Barley    Saskatchewan   951000      951000
28  27    1967-12-31 Canola    Alberta        354100      354100
29  28    1967-12-31 Canola    Canada         661700      661700
30  29    1967-12-31 Canola    Saskatchewan   242800      242800
⋮   ⋮     ⋮          ⋮         ⋮            ⋮           ⋮
643 642   2018-12-31 Rye       Alberta         16000        9100
644 643   2018-12-31 Rye       Canada         135400       78900
645 644   2018-12-31 Rye       Saskatchewan    30400       21600
646 645   2018-12-31 Wheat     Alberta       3053100     2991300
647 646   2018-12-31 Wheat     Canada       10073100     9880900
648 647   2018-12-31 Wheat     Saskatchewan  5255700     5176200
649 648   2019-12-31 Barley    Alberta       1441900     1272700
650 649   2019-12-31 Barley    Canada        2995700     2727500
651 650   2019-12-31 Barley    Saskatchewan  1274800     1194000
652 651   2019-12-31 Canola    Alberta       2401200     2355600
653 652   2019-12-31 Canola    Canada        8571700     8456300
654 653   2019-12-31 Canola    Saskatchewan  4765200     4741300
655 654   2019-12-31 Rye       Alberta         26600        7800
656 655   2019-12-31 Rye       Canada         174700      102600
657 656   2019-12-31 Rye       Saskatchewan    47400       35500
658 657   2019-12-31 Wheat     Alberta       3020000     2917300
659 658   2019-12-31 Wheat     Canada       10125700     9655600
660 659   2019-12-31 Wheat     Saskatchewan  5226800     5066400
661 660   2020-12-31 Barley    Alberta       1481800     1326200
662 661   2020-12-31 Barley    Canada        3059900     2808700
663 662   2020-12-31 Barley    Saskatchewan  1264400     1187300
664 663   2020-12-31 Canola    Alberta       2377900     2313500
665 664   2020-12-31 Canola    Canada        8410400     8319800
666 665   2020-12-31 Canola    Saskatchewan  4588800     4574100
667 666   2020-12-31 Rye       Alberta         41600       29200
668 667   2020-12-31 Rye       Canada         236700      153000
669 668   2020-12-31 Rye       Saskatchewan    58200       47400
670 669   2020-12-31 Wheat     Alberta       3014300     2944700
671 670   2020-12-31 Wheat     Canada       10193600    10017800
672 671   2020-12-31 Wheat     Saskatchewan  5203700     5175400
    PRODUCTION AVG_YIELD
1    2504000   1825
2    4752900   1920
3    1415000   2000
4     215500    725
5     512600    885
6     242700   1080
7     116400   1435
8     453400   1400
9     224000   1350
10   4164000   1700
11  17673950   1545
12  10886000   1455
13   3462000   2205
14   6449950   2135
15   1981000   2170
16    249500    990
17    585100    950
18    288000    975
19    109000   1555
20    437600   1490
21    228600   1420
22   5198000   1975
23  22516850   1875
24  14615000   1860
25   3005000   1735
26   5505800   1675
27   1372000   1445
28    276700    780
29    563600    850
30    231300    955
⋮   ⋮          ⋮
643    30000   3333
644   236400   2995
645    47400   2194
646 10006100   3345
647 32351900   3274
648 14877100   2874
649  4955200   3890
650 10382600   3810
651  4449200   3730
652  5320100   2259
653 19607000   2319
654 11089000   2339
655    26800   3436
656   333400   3249
657   102800   2895
658 10263200   3518
659 32669800   3384
660 15360800   3032
661  5283000   3980
662 10740600   3820
663  4385100   3690
664  5212100   2253
665 18719700   2250
666 10202900   2231
667   107400   3691
668   487800   3188
669   122000   2572
670 11041000   3750
671 35183000   3512
672 15984200   3088

In [ ]:
dbGetQuery(conn

In [17]:
dbGetQuery(conn, 'SELECT COUNT(CD_ID) FROM FARM_PRICES')

  COUNT(CD_ID)
1 2678

In [18]:
dbGetQuery(conn, 'SELECT COUNT(DFX_ID) FROM MONTHLY_FX')

  COUNT(\tDFX_ID)
1 50

In [19]:
dbGetQuery(conn, 'SELECT COUNT(CD_ID) FROM CROP_DATA')

  COUNT(CD_ID)
1 672

In [20]:
dbGetQuery(conn, 'SELECT COUNT(DFX_ID) FROM DAILY_FX')

  COUNT(DFX_ID)
1 1033

In [22]:
dbGetQuery(conn, 'SELECT DISTINCT(GEO) FROM FARM_PRICES')

  GEO
1 Alberta
2 Saskatchewan

In [25]:
dbGetQuery(conn, 'SELECT * FROM CROP_DATA WHERE CROP_TYPE="Rye"')

    CD_ID YEAR       CROP_TYPE GEO          SEEDED_AREA HARVESTED_AREA
1     6   1965-12-31 Rye       Alberta       81000       81000
2     7   1965-12-31 Rye       Canada       323900      323900
3     8   1965-12-31 Rye       Saskatchewan 166000      166000
4    18   1966-12-31 Rye       Alberta       70000       70000
5    19   1966-12-31 Rye       Canada       293400      293400
6    20   1966-12-31 Rye       Saskatchewan 161000      161000
7    30   1967-12-31 Rye       Alberta       65000       65000
8    31   1967-12-31 Rye       Canada       278200      278200
9    32   1967-12-31 Rye       Saskatchewan 133000      133000
10   42   1968-12-31 Rye       Alberta       46000       46000
11   43   1968-12-31 Rye       Canada       274100      274100
12   44   1968-12-31 Rye       Saskatchewan 156000      156000
13   54   1969-12-31 Rye       Alberta       73000       73000
14   55   1969-12-31 Rye       Canada       343700      343700
15   56   1969-12-31 Rye       Saskatchewan 178000      178000
16   66   1970-12-31 Rye       Alberta       91000       91000
17   67   1970-12-31 Rye       Canada       336700      336700
18   68   1970-12-31 Rye       Saskatchewan 166000      166000
19   78   1971-12-31 Rye       Alberta      101000      101000
20   79   1971-12-31 Rye       Canada       386400      386400
21   80   1971-12-31 Rye       Saskatchewan 213000      213000
22   90   1972-12-31 Rye       Alberta       89000       89000
23   91   1972-12-31 Rye       Canada       258400      258400
24   92   1972-12-31 Rye       Saskatchewan 113000      113000
25  102   1973-12-31 Rye       Alberta       97000       97000
26  103   1973-12-31 Rye       Canada       259800      259800
27  104   1973-12-31 Rye       Saskatchewan 105000      105000
28  114   1974-12-31 Rye       Alberta      142000      142000
29  115   1974-12-31 Rye       Canada       351900      351900
30  116   1974-12-31 Rye       Saskatchewan 142000      142000
⋮   ⋮     ⋮          ⋮         ⋮            ⋮           ⋮
139 558   2011-12-31 Rye       Alberta       22300       20200
140 559   2011-12-31 Rye       Canada       123500       95800
141 560   2011-12-31 Rye       Saskatchewan  52600       42500
142 570   2012-12-31 Rye       Alberta       16200       12100
143 571   2012-12-31 Rye       Canada       135600      119300
144 572   2012-12-31 Rye       Saskatchewan  60700       56700
145 582   2013-12-31 Rye       Alberta       16200       12100
146 583   2013-12-31 Rye       Canada       109300       86900
147 584   2013-12-31 Rye       Saskatchewan  40500       34400
148 594   2014-12-31 Rye       Alberta       16200       12100
149 595   2014-12-31 Rye       Canada       111300       88200
150 596   2014-12-31 Rye       Saskatchewan  44500       38400
151 606   2015-12-31 Rye       Alberta       18200       12100
152 607   2015-12-31 Rye       Canada       120400       94500
153 608   2015-12-31 Rye       Saskatchewan  40500       32400
154 618   2016-12-31 Rye       Alberta       32800       21000
155 619   2016-12-31 Rye       Canada       186000      139700
156 620   2016-12-31 Rye       Saskatchewan  54600       48600
157 630   2017-12-31 Rye       Alberta       18200       10100
158 631   2017-12-31 Rye       Canada       143600      100700
159 632   2017-12-31 Rye       Saskatchewan  40500       35600
160 642   2018-12-31 Rye       Alberta       16000        9100
161 643   2018-12-31 Rye       Canada       135400       78900
162 644   2018-12-31 Rye       Saskatchewan  30400       21600
163 654   2019-12-31 Rye       Alberta       26600        7800
164 655   2019-12-31 Rye       Canada       174700      102600
165 656   2019-12-31 Rye       Saskatchewan  47400       35500
166 666   2020-12-31 Rye       Alberta       41600       29200
167 667   2020-12-31 Rye       Canada       236700      153000
168 668   2020-12-31 Rye       Saskatchewan  58200       47400
    PRODUCTION AVG_YIELD
1   116400     1435
2   453400     1400
3   224000     1350
4   109000     1555
5   437600     1490
6   228600     1420
7    79200     1220
8   304500     1095
9   119800      900
10   60700     1320
11  330400     1205
12  164900     1055
13   89400     1225
14  385700     1120
15  176500      990
16  132200     1455
17  479800     1425
18  228200     1375
19  152200     1505
20  556600     1440
21  285200     1340
22  128700     1445
23  347500     1345
24  127400     1125
25  147200     1520
26  369000     1420
27  125100     1190
28  210200     1480
29  498400     1415
30  175800     1240
⋮   ⋮          ⋮
139  54000     2700
140 241400     2500
141  96500     2300
142  34300     2800
143 336600     2800
144 148600     2600
145  36300     3000
146 222900     2600
147  71100     2100
148  30900     2600
149 217500     2500
150  80300     2100
151  33000     2700
152 225500     2400
153  53300     1600
154  59700     2800
155 436000     3100
156 152900     3100
157  33500     3300
158 341300     3390
159 113000     3200
160  30000     3333
161 236400     2995
162  47400     2194
163  26800     3436
164 333400     3249
165 102800     2895
166 107400     3691
167 487800     3188
168 122000     2572

In [26]:
dbGetQuery(conn, 'SELECT * FROM FARM_PRICES WHERE CROP_TYPE="Rye" LIMIT 6')

  CD_ID DATE       CROP_TYPE GEO          PRICE_PRERMT
1  4    1985-01-01 Rye       Alberta      100.77
2  5    1985-01-01 Rye       Saskatchewan 109.75
3 10    1985-02-01 Rye       Alberta       95.05
4 11    1985-02-01 Rye       Saskatchewan 103.46
5 16    1985-03-01 Rye       Alberta       96.77
6 17    1985-03-01 Rye       Saskatchewan 106.38

In [28]:
dbGetQuery(conn, 'SELECT DISTINCT CROP_TYPE, GEO FROM CROP_DATA WHERE CROP_TYPE="Barley"')

  CROP_TYPE GEO
1 Barley    Alberta
2 Barley    Canada
3 Barley    Saskatchewan

In [29]:
dbGetQuery(conn, 'SELECT MIN(DATE) FROM FARM_PRICES')

  MIN(DATE)
1 1985-01-01

In [30]:
dbGetQuery(conn, 'SELECT MAX(DATE) FROM FARM_PRICES')

  MAX(DATE)
1 2020-12-01

In [35]:
dbGetQuery(conn, 'SELECT CROP_TYPE, PRICE_PRERMT FROM FARM_PRICES WHERE PRICE_PRERMT >=350.00')

    CROP_TYPE PRICE_PRERMT
1   Canola    350.04
2   Canola    363.84
3   Canola    364.36
4   Canola    354.58
5   Canola    359.99
6   Canola    350.47
7   Canola    354.05
8   Canola    354.82
9   Canola    357.37
10  Canola    368.18
11  Canola    373.35
12  Canola    381.30
13  Canola    380.24
14  Canola    384.32
15  Canola    358.59
16  Canola    357.67
17  Canola    367.46
18  Canola    367.09
19  Canola    390.35
20  Canola    390.01
21  Canola    402.33
22  Canola    402.15
23  Canola    393.65
24  Canola    385.99
25  Canola    375.25
26  Canola    364.83
27  Canola    367.91
28  Canola    362.61
29  Canola    370.66
30  Canola    366.89
⋮   ⋮         ⋮
440 Canola    433.48
441 Canola    432.26
442 Canola    434.03
443 Canola    434.73
444 Canola    435.17
445 Canola    437.10
446 Canola    442.73
447 Canola    447.92
448 Canola    447.35
449 Canola    449.61
450 Canola    442.80
451 Canola    447.85
452 Canola    443.58
453 Canola    450.99
454 Canola    448.74
455 Canola    451.96
456 Canola    446.16
457 Canola    453.31
458 Canola    459.16
459 Canola    462.88
460 Canola    461.50
461 Canola    464.60
462 Canola    468.28
463 Canola    463.52
464 Canola    472.93
465 Canola    474.80
466 Canola    490.48
467 Canola    495.64
468 Canola    509.04
469 Canola    507.33

In [39]:
dbGetQuery(conn, 'SELECT CROP_TYPE, GEO, AVG_YIELD FROM CROP_DATA WHERE GEO="Saskatchewan" AND YEAR LIKE "2000%"')

  CROP_TYPE GEO          AVG_YIELD
1 Barley    Saskatchewan 2800
2 Canola    Saskatchewan 1400
3 Rye       Saskatchewan 2100
4 Wheat     Saskatchewan 2200

In [47]:
dbGetQuery(conn, 'SELECT CROP_TYPE, AVG_YIELD FROM CROP_DATA\
WHERE YEAR >= 2000 \
GROUP BY CROP_TYPE, GEO \
ORDER BY AVG_YIELD DESC')

   CROP_TYPE AVG_YIELD
1  Barley    3000
2  Barley    3000
3  Barley    2800
4  Wheat     2500
5  Wheat     2400
6  Rye       2300
7  Wheat     2200
8  Rye       2100
9  Rye       2100
10 Canola    1500
11 Canola    1500
12 Canola    1400

In [52]:
dbGetQuery(conn, 'SELECT YEAR, CROP_TYPE, SUM(HARVESTED_AREA),\
(SELECT GEO FROM CROP_DATA WHERE GEO="Canada") AS Province from CROP_DATA \
WHERE CROP_TYPE="Wheat" AND YEAR LIKE "2020%"')

  YEAR       CROP_TYPE SUM(HARVESTED_AREA) Province
1 2020-12-31 Wheat     18137900            Canada

In [61]:
dbGetQuery(conn, 'SELECT * FROM DAILY_FX', index_col='index', parse_data="DATE")

     DFX_ID DATE       FXUSDCAD
1     0     2017-01-03 1.3435
2     1     2017-01-04 1.3315
3     2     2017-01-05 1.3244
4     3     2017-01-06 1.3214
5     4     2017-01-09 1.3240
6     5     2017-01-10 1.3213
7     6     2017-01-11 1.3250
8     7     2017-01-12 1.3106
9     8     2017-01-13 1.3141
10    9     2017-01-16 1.3152
11   10     2017-01-17 1.3057
12   11     2017-01-18 1.3099
13   12     2017-01-19 1.3303
14   13     2017-01-20 1.3356
15   14     2017-01-23 1.3291
16   15     2017-01-24 1.3174
17   16     2017-01-25 1.3088
18   17     2017-01-26 1.3103
19   18     2017-01-27 1.3123
20   19     2017-01-30 1.3114
21   20     2017-01-31 1.3030
22   21     2017-02-01 1.3074
23   22     2017-02-02 1.3016
24   23     2017-02-03 1.3016
25   24     2017-02-06 1.3099
26   25     2017-02-07 1.3167
27   26     2017-02-08 1.3157
28   27     2017-02-09 1.3127
29   28     2017-02-10 1.3084
30   29     2017-02-13 1.3082
⋮    ⋮      ⋮          ⋮
1004 1003   2021-01-07 1.2707
1005 1004   2021-01-08 1.2705
1006 1005   2021-01-11 1.2788
1007 1006   2021-01-12 1.2746
1008 1007   2021-01-13 1.2710
1009 1008   2021-01-14 1.2654
1010 1009   2021-01-15 1.2727
1011 1010   2021-01-18 1.2762
1012 1011   2021-01-19 1.2735
1013 1012   2021-01-20 1.2656
1014 1013   2021-01-21 1.2627
1015 1014   2021-01-22 1.2716
1016 1015   2021-01-25 1.2738
1017 1016   2021-01-26 1.2702
1018 1017   2021-01-27 1.2775
1019 1018   2021-01-28 1.2810
1020 1019   2021-01-29 1.2780
1021 1020   2021-02-01 1.2824
1022 1021   2021-02-02 1.2818
1023 1022   2021-02-03 1.2783
1024 1023   2021-02-04 1.2828
1025 1024   2021-02-05 1.2777
1026 1025   2021-02-08 1.2753
1027 1026   2021-02-09 1.2719
1028 1027   2021-02-10 1.2689
1029 1028   2021-02-11 1.2686
1030 1029   2021-02-12 1.2711
1031 1030   2021-02-16 1.2684
1032 1031   2021-02-17 1.2712
1033 1032   2021-02-18 1.2696

In [63]:
dbGetQuery(conn, 'SELECT * FROM MONTHLY_FX', index_col='index', parse_data="DATE")

   DFX_ID DATE       FXUSDCAD
1   0     2017-01-01 1.319276
2   1     2017-02-01 1.310726
3   2     2017-03-01 1.338643
4   3     2017-04-01 1.344021
5   4     2017-05-01 1.360705
6   5     2017-06-01 1.329805
7   6     2017-07-01 1.268875
8   7     2017-08-01 1.260477
9   8     2017-09-01 1.228280
10  9     2017-10-01 1.260462
11 10     2017-11-01 1.276886
12 11     2017-12-01 1.277053
13 12     2018-01-01 1.242741
14 13     2018-02-01 1.258621
15 14     2018-03-01 1.293171
16 15     2018-04-01 1.273257
17 16     2018-05-01 1.287327
18 17     2018-06-01 1.312857
19 18     2018-07-01 1.313010
20 19     2018-08-01 1.304118
21 20     2018-09-01 1.303653
22 21     2018-10-01 1.300955
23 22     2018-11-01 1.320038
24 23     2018-12-01 1.343184
25 24     2019-01-01 1.330100
26 25     2019-02-01 1.320558
27 26     2019-03-01 1.336819
28 27     2019-04-01 1.337771
29 28     2019-05-01 1.345905
30 29     2019-06-01 1.328730
31 30     2019-07-01 1.310105
32 31     2019-08-01 1.327748
33 32     2019-09-01 1.324050
34 33     2019-10-01 1.318977
35 34     2019-11-01 1.323880
36 35     2019-12-01 1.317170
37 36     2020-01-01 1.308673
38 37     2020-02-01 1.328584
39 38     2020-03-01 1.395250
40 39     2020-04-01 1.405786
41 40     2020-05-01 1.396970
42 41     2020-06-01 1.355032
43 42     2020-07-01 1.349850
44 43     2020-08-01 1.322205
45 44     2020-09-01 1.322810
46 45     2020-10-01 1.321471
47 46     2020-11-01 1.306820
48 47     2020-12-01 1.280771
49 48     2021-01-01 1.272405
50 49     2021-02-01 1.274462